.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            %h2= t "devise.invitations.new.header"
        .panel-body
          = form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f|
            = render "devise/shared/error_messages", resource: resource
            - resource.class.invite_key_fields.each do |field|
              = f.label field, class: "form-control"
              = f.text_field field, class: "form-control"
            %br
            = f.submit t("devise.invitations.new.submit_button"), class: "btn btn-default btn-primary"
